{% extends "base_generic.html" %}

{% block content %}
<h1 class="mt-3">Lista de habitats</h1>

<div class="habitat-list">
    {% if perms.home.is_admin %}
    <a href="{% url 'habitat_create' %}">Añadir Habitat</a>
    {% endif %}

    {% if habitat_list %}
    <ul>

        {% for habitat in habitat_list %}
        <li>
            <p>{{ habitat }}</p>
            {% if perms.home.is_admin %}
            <a href="{% url 'habitat_update' habitat.pk %}">
                Actualizar Habitat
            </a>
            <a class="text-danger" href="{% url 'habitat_delete' habitat.pk %}">
                Eliminar Habitat
            </a>
            {% endif %}
        </li>
        {% endfor %}

</div>

</ul>
{% else %}
<p>No hay habitats</p>
{% endif %}
{% endblock %}