@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

html {
    box-sizing: border-box;
    font-size: 62.5%
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-family: Roboto, sans-serif
}

body.fixed-body {
    overflow: hidden
}

@media screen and (min-width:768px) {
    body.navbar-scroll {
        padding-top: 8.6rem
    }
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700
}

h3,
h4 {
    font-family: Lato, sans-serif;
    font-weight: 500
}

h1,
h2,
h3,
h4 {
    margin: 0
}

h1 {
    font-size: 3.5rem
}

h2 {
    font-size: 3rem
}

h3 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 5rem
}

a {
    font-family: Montserrat, sans-serif;
    text-decoration: none
}

a,
p {
    font-size: 2rem
}

p {
    font-family: Roboto, sans-serif
}

.contenedor {
    margin: 0 auto;
    width: min(95%, 120rem)
}

.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s, transform .5s
}

.animate.show {
    opacity: 1;
    transform: translateY(0)
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%
}

.header--background {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

@media screen and (min-width:768px) {
    .fijo {
        animation: aparecer .2s ease-in normal;
        background-color: #000;
        box-shadow: .3rem .3rem 1rem .1rem #333;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%
    }
}

@keyframes aparecer {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.header {
    color: #fff
}

.header h1 {
    padding: 2rem 0;
    text-align: center
}

.header h1 span {
    font-size: 2.5rem
}

@media screen and (min-width:768px) {
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between
    }
}

.navbar {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0
}

.navbar a {
    color: #fff;
    text-decoration: none
}

.navbar a:hover {
    color: #fef464
}

@media screen and (min-width:768px) {
    .navbar {
        flex-direction: row
    }
}

.video {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative
}

@media screen and (min-width:768px) {
    .video {
        height: 100vh
    }
}

.video video {
    display: block;
    height: auto;
    width: auto
}

@media screen and (min-width:768px) {
    .video video {
        height: 120vh;
        width: -moz-max-content;
        width: max-content
    }
}

.overlay {
    align-items: center;
    background: rgba(0, 0, 0, .9);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%
}

@media screen and (min-width:768px) {
    .overlay {
        justify-content: flex-start;
        text-align: left
    }
}

.contenido-video {
    z-index: 1
}

.contenido-video h2 {
    color: #fff;
    font-size: 6rem
}

.contenido-video p {
    background-color: #1c8b00;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 1rem 2rem
}

.sobre-festival {
    padding: 4rem 0
}

@media screen and (min-width:768px) {
    .sobre-festival {
        align-items: center;
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center
    }
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    text-align: center
}

@media screen and (min-width:768px) {
    .contenido-festival {
        margin-top: 0;
        text-align: left
    }
}

.contenido-festival p:last-of-type {
    font-size: 1.8rem;
    line-height: 1.5
}

.contenido-festival p:first-of-type {
    color: #1c8b00;
    font-weight: 700
}

.contenido-festival span {
    color: #1c8b00
}

.conocelos {
    -webkit-backdrop-filter: brightness(0);
    backdrop-filter: brightness(0);
    background-blend-mode: multiply;
    background-color: #1c8b00;
    background-image: url(https://freepngimg.com/thumb/leaves/37361-1-green-leaves-photos.png);
    background-repeat: repeat-y;
    background-size: cover;
    padding: 5rem 0
}

.conocelos h3 {
    color: #fff;
    text-align: center
}

.animales-contenedor {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100rem
}

@media screen and (min-width:768px) {
    .animales-contenedor {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr)
    }
}

.animal-card {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .44);
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    justify-content: center;
    padding: 5rem 3rem;
    position: relative
}

.animal-card .animal-nombre {
    font-size: 3rem;
    margin-bottom: 2rem
}

.animal-card .animal-nombre:before {
    background-color: #1c8b00;
    content: "";
    display: inline-block;
    height: 2rem;
    margin: 0 1rem;
    width: .5rem
}

@media screen and (min-width:768px) {
    .animal-card .animal-nombre {
        font-size: 4rem;
        margin-bottom: 2rem
    }

    .animal-card .animal-nombre:before {
        background-color: #1c8b00;
        content: "";
        display: inline-block;
        height: 3rem;
        margin: 0 1rem;
        width: .5rem
    }
}

@media screen and (min-width:992px) {
    .animal-card .animal-nombre {
        font-size: 5rem;
        margin-bottom: 2rem
    }

    .animal-card .animal-nombre:before {
        background-color: #1c8b00;
        content: "";
        display: inline-block;
        height: 4rem;
        margin: 0 1rem;
        width: .5rem
    }
}

.animal-card .section-title {
    background-color: #1c8b00;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0 0;
    padding-inline: 1rem;
    width: -moz-fit-content;
    width: fit-content
}

.animal-card .section-curiosidades p {
    font-size: 1.4rem;
    margin: .2rem 0
}

.animal-card .section-danger {
    align-self: flex-end;
    color: red;
    font-weight: 700;
    justify-self: end
}

.animal-card div,
.animal-card p {
    align-self: flex-start;
    font-size: 1.7rem;
    margin: .5rem 0;
    text-align: left
}

.card-img-top {
    border-radius: 50%;
    height: 10rem;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 2rem;
    top: 3rem;
    transition: all .3s ease-in;
    width: 10rem
}

.card-img-top:hover {
    border-radius: 10px;
    height: 100%;
    right: 0;
    top: 0;
    width: 100%
}

.galeria {
    padding: 5rem 0
}

.galeria h3 {
    text-align: center
}

.galeria ul {
    padding: 2rem 0
}

.galeria-imagenes {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr)
}

@media screen and (min-width:480px) {
    .galeria-imagenes {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width:768px) {
    .galeria-imagenes {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr)
    }
}

@media screen and (min-width:992px) {
    .galeria-imagenes {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(5, 1fr)
    }
}

.img-animal {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .44);
    position: relative
}

.img-corta img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.img-larga {
    grid-row: span 2
}

.img-larga img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.img-buttons{
    position: absolute;
}

.videos-contenedor {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(1, 1fr);
    place-content: center center
}

@media screen and (min-width:768px) {
    .videos-contenedor {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr)
    }
}

.videos-contenedor iframe {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .44);
    height: 100%;
    max-width: 56rem;
    min-height: 360px;
    width: 100%
}

.video-1 {
    display: none
}

@media screen and (min-width:768px) {
    .video-1 {
        display: block
    }
}

.overlay-imagen {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    display: grid;
    height: 100%;
    left: 0;
    place-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%
}

.overlay-imagen picture {
    align-self: flex-end;
    display: block;
    margin: 0;
    max-width: 120rem
}

.overlay-imagen .btn-cerrar {
    align-self: flex-start;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 2rem
}

.ayuda {
    background-color: #fff;
    padding: 5rem 0
}

.ayuda h3 {
    color: #000;
    text-align: center
}

.contenedor-ayudas {
    padding: 2rem
}

@media screen and (min-width:768px) {
    .contenedor-ayudas {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr)
    }
}

.pase p {
    color: #fff;
    margin: 0;
    text-align: center
}

.pase .pase-dia {
    font-size: 2rem;
    padding: 2rem 0
}

.pase-header {
    background-color: #1c8b00
}

.pase-header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    text-transform: uppercase
}

.ayuda-body,
.ayuda-body ul {
    background-color: transparent
}

.ayuda-body ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.ayuda-body li {
    background-color: #1c8b00 !important;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1rem 0;
    padding: .2rem 1rem;
    padding-left: .1rem;
    margin-left: .2rem;
    position: relative;
    width: -moz-fit-content;
    width: fit-content
}

.ayuda-body li:before {
    background-color: #1c8b00;
    border-radius: 50%;
    content: "";
    display: block;
    height: 1rem;
    left: -1.5rem;
    position: absolute;
    top: 1rem;
    width: 1rem;
}

.form-container {
    background-color: #fff;
    border: 3px solid #1c8b00;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .44);
    padding: 2rem;
    height: fit-content;
}

.form-container p {
    margin-bottom: 2rem;
    margin-top: .5rem;
    text-align: center
}

.form-subscribe label {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem
}

.form-subscribe .btn-primary,
.form-subscribe input,
.form-subscribe textarea {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem
}

.form-subscribe .btn-primary {
    background-color: #1c8b00;
    border: 1px solid #000
}

.form-subscribe .btn-primary:active {
    background-color: #125800
}

.site-footer {
    background-color: #1c8b00;
    padding: 2rem
}

.site-footer p {
    color: #000;
    font-size: 1.5rem;
    margin: 0;
    text-align: center
}

.site-footer div {
    align-items: center;
    display: flex;
    justify-content: center
}

.site-footer a {
    color: #000;
    margin: 1rem;
    transition: all .3s ease
}

.site-footer a:hover {
    color: #fff
}

.solid--header {
    position: relative;
    background-color: black;
}

.curiosidad{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    list-style: decimal;
}

.login, .logout{
    min-height: 30rem;
    height: 75vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.logout{
    flex-direction: column;
}

.login p,
.login a {
    font-size: 1rem;
    font-weight: bold;
}

.form-field {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.login input[type="submit"]{
    font-size: 1.3rem;
}

.form-wrapper{
    min-height: 30rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.form-model li{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.form-model label{
    font-weight: bold;
    font-size: 1.3rem;
}

.form-model select{
    min-height: fit-content;
    padding: .5rem;
}

.form-model input{
    font-size: 1.2rem;
    height: max-content;
}

.helptext{
    font-style: italic;
}

.model-manage{
    font-size: 1.2rem;
    font-weight: bold;
    padding: .6rem;
    color: black;
    width: fit-content;
    border: 2px solid darkseagreen;
    margin: .3rem;
    opacity: .5;
    
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.img-manage{
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    opacity: .8;
    padding: .3rem;
    margin-right: .3rem;
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.img-manage:hover{
    opacity: 1;
}

.model-important{
    background-color: black;
    color: white;
    border: none;
    opacity: 1;
    font-size: 1.5rem;
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    margin-bottom:  2rem;
}

.model-important:hover{
    background-color: darkseagreen;
    color: #000;
}

.model-manage:hover{
    opacity: 1;
    background-color: #333;
    color: white;   
}

.habitat-list{
    min-height: 75vh;
    height: 100%;
    margin: 1rem;
}

.habitat-list a{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
}

.habitat-list p{
    font-size: 1.5rem;
    margin:  2rem 0 0 0 ;
}