{% extends 'base_generic.html' %}

{% block navbar %}
<div class="header--background">
    <header class="contenedor header">
        <h1>T<span>hey</span> F<span>eel</span> T<span>oo</span></h1>
        <nav class="navbar">
            <a href="#conocelos">Conocelos</a>
            <a href="#galeria">Disfrutalos</a>
            <a href="#ayudalos">Ayudalos</a>
        </nav>
    </header>
</div>
{% endblock %}

{% block content %}
{% load static %}
<div class="video">
    <div class="overlay">
        <div class="contenido-video contenedor">
            <h2>Los animales SIENTEN</h2>
            <p>¡Escucha su voz silenciosa y únete a nuestra causa!</p>
        </div>
    </div>
    <video autoplay muted loop>
        <source src="{% static 'video/animales.mp4' %}" type="video/mp4">
        El video no esta disponible
    </video>
</div>


<!-- Seccion Sobre Nosotros -->
<section class="contenedor sobre-festival">
    <div class="imagen">
        <picture>
            <source srcset="{% static 'img/humanos_y_animales.avif' %}" type="image/avif">
            <source srcset="{% static 'img/humanos_y_animales.webp' %}" type="image/webp">
            <img width="400" height="300" src="{% static 'img/humanos_y_animales.jpg' %}" alt="Humanos y Animales">
        </picture>
    </div>
    <div class="contenido-festival">
        <h2>They Feel Too</h2>
        <p>En todo el mundo</p>
        <p>Nuestra misión es crear conciencia sobre los animales y fomentar la conexión con ellos. Queremos que
            comprendas que los
            animales son seres vivos con emociones y merecen respeto. Explorar el mundo animal nos permite
            descubrir
            su diversidad y
            maravilla. Conocer a los animales nos despierta asombro y admiración, y nos insta a proteger su
            existencia. Te invitamos
            a unirte a nosotros en este viaje de descubrimiento y empatía hacia los animales. Cada pequeño paso
            cuenta para crear un
            mundo donde los animales sean valorados y respetados. <span>¡Comienza a conocerlos y marca la
                diferencia!</span> </p>
    </div>
</section>

<section id="conocelos" class="conocelos">
    <h3>Conocelos</h3>
    {% if perms.home.is_admin %}
    <div class="d-flex justify-content-center ">
        <a class="model-manage model-important" href="{% url 'animal_create' %}">Agregar Animal</a>
    </div>
    {% endif %}
    <div class="animales-contenedor contenedor">
        {% for animal in animales %}
        <div class="animal-card">
            <img class="card-img-top" src="{{ animal.imagen }}" alt="{{ animal.nombre }}">
            <h4 class="animal-nombre">{{animal.nombre}}</h4>
            {% if perms.home.is_admin %}
            <div class="d-flex">
                <a class="model-manage" href="{% url 'animal_update' animal.pk %}">Actualizar</a>
                <a class="model-manage text-danger" href="{% url 'animal_delete' animal.pk %}">Eliminar</a>
            </div>
            {% endif %}
            <p class="section-title">Habitat</p>
            <p>{{animal.display_habitats}}</p>
            <p class="section-title">Alimentacion</p>
            <p>{{animal.alimentacion}}</p>
            <p class="section-title">Promedio de Vida</p>
            <p>{{animal.promedio_de_vida}}</p>
            <p class="section-title">Curiosidades</p>
            {% if perms.home.is_admin %}
            <a class="model-manage" href="{% url 'curiosidad_create' %}">Agregar</a>
            {% endif %}
            <ul>
                {% for curiosidad in curiosidades %}
                {% if curiosidad.animal == animal %}
                <li class="curiosidad">{{ curiosidad.nombre }}</li>
                {% if perms.home.is_admin %}
                <a class="model-manage" href="{% url 'curiosidad_update' curiosidad.pk %}">Actualizar</a>
                <a class="model-manage text-danger" href="{% url 'curiosidad_delete' curiosidad.pk %}">Eliminar</a>
                {% endif %}
                {% endif %}
                {% endfor %}

            </ul>

        </div>
        {% endfor %}
    </div>
</section>


<!-- Seccion galeria -->
<section id="galeria" class="galeria contenedor">
    <h3>Galeria</h3>
    {% if perms.home.is_admin %}
    <div class="d-flex justify-content-center ">
        <a class="model-manage model-important" href="{% url 'imagen_create' %}">Agregar Imagen</a>
    </div>
    {% endif %}
    <ul class="galeria-imagenes">
        {% for imagen in imagenes %}
        <div class="img-animal {{ imagen.estilo }}">
            {% if perms.home.is_admin %}
            <div class="d-flex img-buttons">
                <a class="img-manage" href="{% url 'imagen_update' imagen.pk %}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a class="img-manage" href="{% url 'imagen_delete' imagen.pk %}">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>
            {% endif %}
            <picture>
                <img width="400" height="300" src="{{ imagen.imagen }}" alt="{{ imagen.alt }}">
            </picture>
        </div>
        {% endfor %}
    </ul>
    <div class="videos-contenedor">
        <iframe class="video-1" src="https://www.youtube.com/embed/YBVMA_yQ4YI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/B8_P7Oznm18" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

</section>

<!-- Seccion ayudalos -->
<section id="ayudalos" class="ayuda bg-verde">
    <h3>Ayudalos</h3>
    <div class="contenedor contenedor-ayudas">
        <div class="form-container">
            <p>Subscribete para recibir notificaciones y mandanos tu opinion!</p>
            <form class="row g-3 needs-validation justify-content-center form-subscribe" novalidate>
                <div class="col-12 col-md-9">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Raul Funes" required>
                    <div class="invalid-feedback">
                        Porfavor ingrese un nombre válido.
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <label for="mail" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <input type="email" class="form-control" id="mail" aria-describedby="inputGroupPrepend"
                            placeholder="mail@mail.com" required>
                        <div class="invalid-feedback">
                            Porfavor ingrese un Email valido.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea type="text" class="form-control" id="mensaje"></textarea>
                </div>
                <div class="col-12 col-md-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Aceptar terminos y condiciones
                        </label>
                        <div class="invalid-feedback">
                            Debes aceptar antes de enviar
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
        <div class="ayuda-body">
            {% if perms.home.is_admin %}
            <div class="d-flex justify-content-start ">
                <a class="model-manage model-important" href="{% url 'consejo_create' %}">
                    Agregar consejo
                </a>
            </div>
            {% endif %}
            <ul>
                {% for consejo in consejos %}
                <li>
                    {{ consejo.nombre }}
                </li>
                {% if perms.home.is_admin %}
                <div class="d-flex">
                    <a class="model-manage" href="{% url 'consejo_update' consejo.pk %}">Actualizar</a>
                    <a class="model-manage text-danger" href="{% url 'consejo_delete' consejo.pk %}">Eliminar</a>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</section>
{% endblock %}